.contact-main{
    height: 85vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.contact-container{
    height: 75%;
    width: 50%;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.social-links{
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    div{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    h1{
        font-size:3rem;
    }
    a{
        text-decoration: none;
        color: black;
        
            h2{
                font-size: medium;
            }
    }
    a:hover{
        border-bottom: 2px solid red;
    }

}

.contact-email{
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    h1{
        font-size: 3rem;
    }
    button{
        width: 150px;
        height: 60px;
        outline: none;
        border: none;
        cursor: pointer;
        color: white;
        background: #2BAAE2;
        border-radius: 5px;
        font-size: medium;
    }
    button:hover{
        background: white;
        color: black;
        border: 1px solid black;
    }
}
