.contact-main{
    height: 85vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-container{
    height: 75%;
    width: 50%;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
    border-radius: 5px;
}