.footer-main{
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer-img-1{
    width: 40px;
    filter: brightness(0) invert(1);
}

.footer-img-2{
    width: 35px;
    filter: brightness(0) invert(1);
}