.projects-main{
    width: 100vw;
    height: 85vh;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}


.switch-container{
    background: white;
    width: 40vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    -webkit-box-shadow: 0px 0px 4px 0px #000000; 
    box-shadow: 0px 0px 4px 0px #000000;
    border-radius: 5px;
        button{
            width: 90px;
            height: 30px;
            background: #2BAAE2;
            color: white;
            border-radius: 5px;
            outline: none;
            cursor: pointer;
            border: none;
        }
        button:hover{
            border: 1px solid black;
            background: white;
            color: black;
        }
}

.trakd-container{
    @extend .switch-container
}

.switch-carousel{
    max-width: 90%;
}

.trakd-carousel{
    max-width: 90%;
}

.switch img{
    width: 200px;
}