.landing-main{
    height: 80vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.landing-container{
    height: 80vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-section-1{
    height: 75%;
    width: 50%;
    font-size: 1.15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: white;
    border-radius: 5px;
}

.landing-section-1 p{
    text-align: center;
    line-height: 150%;
    margin: 30px;
    background: white;
}

.landing-logo{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.landing-logo:hover{
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
}