.landing-main{
    height: 80vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-container{
    height: 80vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-section-1{
    height: 65%;
    width: 50%;
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    letter-spacing: 1px;
    background: white;
    
}

.landing-section-1 p{
    text-align: center;
    line-height: 150%;
    margin: 10px;
    background: white;
}

.landing-logo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.landing-logo:hover{
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
}